<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" (click)="close.emit()">
  <div class=" card p-5 bg-neutral" (click)="$event.stopPropagation()">
    <form [formGroup]="formGroup()" #triggerFrom="ngForm" (keydown.enter)="save.emit()"
      (ngSubmit)="save.emit(); close.emit()">
      <header class="flex justify-between">
        <h2 class="text-lg font-bold">{{ title() }}</h2>
        <button (click)="close.emit()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </header>
      <div class="modal-middle">
        @for (control of formGroup().controls | keyvalue; track control.key){
        <div class="p-1">
          <label class="form-control w-full max-w-xs" [for]="control.key">
            <div class="label">
              <span class="label-text">{{control.key}}</span>
            </div>
            <input class="input input-bordered w-full max-w-xs" [id]="control.key" type="text"
              [formControlName]="control.key" />
          </label>
        </div>
        }
      </div>
      <div class="modal-action">
        <button class="btn btn-sm btn-accent" type="submit" data-testid="save-checklist-button"
          [disabled]="!formGroup().valid">Save</button>
      </div>
    </form>
  </div>
</div>