/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.planes {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px; /* Optional: Add some margin if you want space around the image */
  max-width: 800px; /* Adjust the size as needed */
  max-height: 800px; /* Adjust the size as needed */
  z-index: -1;
}
