<header>
  <h1>Quicklists</h1>
  <button (click)="checklistBeingEdited.set({})">Add Checklist</button>
</header>

<section>
  <h2>Your checklists</h2>

  <app-checklist-list
    [checklists]="checklistService.checklists()"
    (delete)="checklistService.remove$.next($event)"
    (edit)="checklistBeingEdited.set($event)"
  />
</section>

<app-modal [isOpen]="!!checklistBeingEdited()">
  <ng-template>
    <app-form-modal
      [title]="
        checklistBeingEdited()?.title
          ? checklistBeingEdited()!.title!
          : 'Add Checklist'
      "
      [formGroup]="checklistForm"
      (save)="
        checklistBeingEdited()?.id
          ? checklistService.edit$.next({
              id: checklistBeingEdited()!.id!,
              data: checklistForm.getRawValue()
            })
          : checklistService.add$.next(checklistForm.getRawValue())
      "
      (close)="checklistBeingEdited.set(null)"
    />
  </ng-template>
</app-modal>
